
.MovieCard {
	display: inline-block;
	padding-bottom:24px;
	margin-bottom:15px;
	text-align: left;
	.custom_cell_class{
	display:flex;
	margin:10px;
	flex-direction:column;
	height:100%;
	img{
	display:flex;
	height:100%;
	}



}
@media (max-width:768px) {
	max-width:45%!important;
	padding-right: 25px;
}
@media (max-width:500px) {
		width:100%;
		padding-right: 0px;
		max-width:100%!important;
		.custom_cell_class{
		height:auto;
		img{
		height:auto;
		}
		}
		}
.video_name{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:12px;
}
}
